/* Color Palette
# - color 1
# - color 2
# - color 3
# - color 4
*/

/* Global styles 
------------------------------------*/
body {
    background: lightblue;
}
#pic {
    height: 100px;
    width: auto;
}

/* Header & Footer 
------------------------------------*/



/* Work Experience
------------------------------------*/



/* Education
------------------------------------*/